/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #646464
}

h1,
h2,
h2,
h4 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-weight: 500;
}

.theme-button a {
    text-decoration: none;
    background: #caa892;
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px 0px;
    font-size: 18px;
}

.theme-button {
    padding-top: 20px;
}

.theme-button a:hover {
    color: #eae4e1;
    transition: .3s;
}

.theme-heading h4 {
    font-size: 20px;
    color: #646464;
    font-weight: 400;
    text-transform: uppercase;
}

.theme-heading h2 {
    font-size: 48px;
    color: #212121;
    font-weight: 500;
}

/* =================================== Main CSS ============================================== */

/* Header CSS  */
header.header-area {
    padding-top: 25px;
    background: #fff;
}

.header-area .nav-item {
    padding-right: 30px
}

.header-area .nav-link {
    font-size: 16px;
    color: #111111;
    font-weight: 500;
    text-transform: uppercase;
}

.header-area .nav-link.active {
    color: #646464
}

.header-area .nav-item:last-child {
    background: #CAA892;
    border-radius: 15px 0px;
    padding: 0px 18px;
}

.header-area .nav-item:last-child .nav-link {
    color: #fff;
    text-transform: capitalize;
}

.header-area .nav-item:last-child .nav-link:hover {
    color: #f7ede3;
}

.header-area .nav-link {
    position: relative;
}

.header-area .nav-link:hover::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #caa892;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/************ 
 Footer CSS
 ***********/
footer.footer-area {
    background: #F8F8F8;
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}

.about-footer p {
    font-size: 18px;
    color: #646464;
    margin-top: 20px;
}

.footer-page h4 {
    font-size: 22px;
    color: #212121;
}

.footer-page ul {
    margin: 0;
    padding: 0;
}

.footer-page p {
    font-size: 18px;
}

.footer-page ul li {
    list-style: none;
    padding: 5px;
}

.footer-page ul li a {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
}

.footer-page ul li a:hover {
    color: #CAA892;
    transition: .3s;
}

/* Sub-footer */
.sub-footer p {
    font-size: 14px;
    border-top: 1px solid #C4C4C4;
    padding-top: 20px;
    text-align: center;
    margin-top: 40px;
}

.footer-social i {
    background: #ccc;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 50%;
    margin-right: 10px;
    color: #222;
}

.footer-social i:hover {
    background: #CAA892;
    color: #fff;
    transition: 0.3s;
}

/* Footer Path */
.footer-path {
    position: absolute;
    top: -70px;
}

.footer-path img {
    width: 200px;
}

/***************
 Hero Section 
 ***************/
span.text-design {
    color: #caa892;
}

.hero-right h1 {
    color: #212121;
    font-size: 68px;
    font-weight: 600;
    padding-bottom: 25px;
    padding-top: 10px;
}

.hero-left img {
    width: 100%;
}

.hero-right h4 {
    font-size: 20px;
    color: #646464;
    font-weight: 400;
}

.hero-right p {
    font-size: 18px;
    color: #646464;
    line-height: 30px;
    font-family: 'Open Sans';
}

.hero-section {
    margin-top: 60px;
    margin-bottom: 60px;
}


.image-design {
    position: relative;
    z-index: 1;
}

.image-design::after {
    position: absolute;
    content: "";
    border: 2px solid #B0855B;
    height: 100%;
    width: 100%;
    top: 20px;
    left: 20px;
    z-index: -1;
    border-radius: 140px 0px;
}

/************* 
   Service Area
 ***************/
 .our-service-section {
    margin-top: 200px;
    position: relative;
    margin-bottom: 100px;
}

.owl-nav {
    position: absolute;
    right: 0;
    top: -70px;
}

.single-service {
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    padding: 30px 30px;
}

.single-area p {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #646464;
}

.single-area h4 {
    font-weight: 700;
    font-size: 24px;
}

.single-service:hover {
    background: #CAA892;
    transition: .3s;
    color: #fff;
    cursor: pointer;
}

.single-service:hover h4 {
    color: #fff;
}

.single-service:hover p {
    color: #fff;
}

.owl-nav span {
    background: #FFFFFF;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 0px 12px;
    border-radius: 50%;
    font-size: 20px;
    padding-bottom: 5px;
}

.owl-nav span:hover {
    background: #CAA892;
    transition: .3s;
}

.owl-nav .owl-prev {
    margin-right: 15px;
}